$default-font: 'Ribeye Marrow';
$default-font-color: white;
$main-color: #D9E8E1;
$second-color: #F6DEB6;
$third-color: #E07A5F;
$fourth-color: #F4F1DE;
$fifth-color: #3D405B;
$default-border-radius: 8px;
$default-opacity: 0.7;